<% provide(:title, "About Us") %>

<h1 class="headings">Our Vision</h1>
  
<div>
    <p class="aboutUs">Right from the get go you will have access to our tailored fitness plans. 
    These exercises will help you reach your peak fitness levels. If you are interested 
    in targeting specific muscle groups or achieving an all-round sense of wellbeing, 
    Amyzing Lifestyle will have the routines for you. Track your progress on the website 
    and set goals for yourself to achieve. Be amazed at how quickly you will start to see 
    results! Use our premium service to have custom built work out routines and receive 
    advice and feedback.</p>

    
    <p class="aboutUs">Mindfulness can often be taken for granted but it is an essential part of a healthy
     lifestyle. Our experts build mindfulness into your daily routines with breathing and 
     meditation exercises. Take control of your life and your wellbeing by putting 
     mindfulness high on your agenda.</p>
     
     <p class="aboutUs">For all of the pregnant ladies out there do not despair, we recognise that 
     pregnancy is one of the most important stages for maintaining a healthy level 
     of fitness. At Amyzing Lifestyle, we have plans built by pregnant ladies for 
     pregnant ladies, to help prepare you for the incredible journey you are on. 
     Follow our workout routines that adapt to your body as you progress through 
     your pregnancy and help you get back into shape after. Learn what foods are 
     right to eat to ensure your baby is getting the right nutrients, after 
     all a healthy baby is a happy baby.</p>
    
    <p class="aboutUs">Upon opening our page, you can create a personal profile and start tracking 
    your progress. With an upgrade to our premium account you have full access 
    to all of our material and our in-house experts. Feel free to contact us using 
    the contact page as well. Amyzing Lifestyle is here to help you build a 
    healthier and happier life.</p>


</div>
