<% provide(:title, "Home") %>

<h1 class="headings">Home</h1>
  
<div>
    <p class="aboutUs">We all know that a healthy, rounded lifestyle is the ultimate goal. 
    But for many of us that goal seems more like a ghoul lurking over us. Who 
    has the time to make the changes, to follow an exercise plan and eat right 
    whilst balancing the million other things going on in our life at the same time. 
    Amyzing Lifestyle is the answer. With carefully researched workout plans, cooking 
    books for all dietary needs and a personalised service, you can banish the ghouls 
    and achieve your goals. Our in-house fitness and nutritional experts will show you 
    how easy it is to lead a healthy lifestyle.</p>
</div>

<%= render 'layouts/search' %>

<%= render 'layouts/categories' %>