<% provide(:title, "Home") %>

<h1 class="headings">Subscription plan</h1>
  
<div>
    <p class="aboutUs">Payment was completed. Your account has been updated.</p>
    <%= link_to "Home", "/" , :class => "button", :role => "button" %>
</div>